
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}


 body{
     background-color: #FFFFFF;
     font-family: "Raleway", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
 }

 .carousel .carousel-item {
    max-height: 100vh !important;
 }

 

 .slideshow {
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 .image1 {
    background-image: url("/images/DSC_0273.JPG");
    width: 100%;
    height: auto;
 }

 .hrthick {
    height: 2px !important;
 }

 .noopacity {
    opacity: 1 !important;
 }

 header{
     position:fixed;
     width: 100%;
     top: 0;
     /* background-color: #000000b2; */
     backdrop-filter: blur(4px) !important;
     padding: 0 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 4.3em;
     z-index: 1000;
 }

 a:hover {
    color: #e7dede !important; 
    text-decoration: none;
}
 .logo{
     color: #FFFFFF;
     height: inherit;
 }

 .motto h2{
    font-size: 2rem;
 }

 .motto h4{
    text-align: center;
 }

 .motto p{
    font-size: .7rem;
    font-style: italic;
 }

 .logo img{
    margin: .5rem 0rem;
    height: inherit;

 }

 header svg{
    width: 5vw;
    height: 3vh;
    color: white;
    display: none;
 }

 header ul{
     position: relative;
 }

 header ul li{
     list-style-type: none;
     position: relative;
     float:left;

 }
 
 header ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    padding: 1.35em 1rem ;
    display: flex;
    justify-content: space-between;
}

header ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color:#ffffff;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition:all  0.5s ;
    
}

header ul li a:hover::after{
    width: 100%;
}


header ul li ul{
     position: absolute;
     left: 0;
     background-color:#050101;
     display: none;
     width: 10vw;
     z-index: 1;
}




 header ul li:hover > ul{
    transition: all 0.5s ease-in 0s;
    display: block;
}


header ul li ul li{
    position: relative;
    width: 100%;
    /* border: 1px solid #B2BEB5; */
}

header ul li ul li a{
    padding: 0.5rem 0.5rem !important;
    color: #fff;
    /* border: 1px solid #fff; */
}
.nopaddinglist {
    padding-left: 0rem !important;
}

ol, ul {
    padding-left: 0rem !important;
}
header ul li ul li ul{
    top:0;
    left: -8em;
    width: 8rem;
    
}



main {
    top: 0;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
}

.herosection{
    height:70vh;
    /* position: relative; */
    margin-bottom: 5rem;
    background-color: #FFFFFF;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.welcome{
    height: 70vh;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.welcomeSectionOne{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.welcomeSectionOne h2{
    color: #b10e0e;
}


.welcomeSectionOne hr{
    height: 5px ;
    width: 25%;
    background-color:#303030d0;
    border: 0px;
    
}

.grey {
    background-color: #f0f0f0;
}

.welcomeImage{
    border: 1px solid #B2BEB5;
}

.welcomePosition{
    min-height: 10vh;
    width: 55%;
    background-color:  #b10e0e;
    border-bottom: 10px solid #303030d0;
    
}

.welcomePosition p {
    color: #FFFFFF;
    font-weight: 600;
    text-align: center ;
    padding: .2rem 0rem;
    
}


.welcomeSectionTwo{
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gallery{
    /* position: relative; */
    min-height: 70vh; 
    margin-top: 5vh; 
    /* border: 1px solid red; */

}

.galleryHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover1s {
    /* transform: scale(.9); */
    transition: .5s;
}

.hover1s:hover {
    transform: scale(1.05);
}

.galleryHeader h2{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.galleryHeader hr{
    width: 10%;
    background-color: #b10e0e;
    height: 3px;
    border: 0px;
}

.galleryPhotos{
    height: 60vh; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
}

.photoOne, .photoTwo, .photoThree {
    grid-column: span 1;
    grid-row: span 1;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10vh;
}

.photoOneImage, .photoTwoImage, .photoThreeImage {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid green;
}

.imageLayout{
    width: 100%;
    height: 100%;
}

.photoOneContent, .photoTwoContent, .photoThreeContent {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid rgb(0, 19, 128);
}


/* Events */

.Events{
    min-height: 60vh;
    background-color: #b10e0e;
    flex-direction: column;
}

.eventHeader{
    
    font-size: 2.5rem;
    text-shadow: 3px 3px 9px #214e03;  
    padding-bottom: 1.5rem;
    color: #fff;
}

.eventWrapper{
    width: 98%;
    min-height: 45vh;
}

.eventspan{
    grid-row: span 1;
    grid-column: span 1;
    margin: 1rem;
}

/* .eventspan:hover{
} */

.eventDate{
    height: 80%;
    background-color: #303030;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

.eventName{
    height: 20%;
    font-size: 1.8rem;
    font-weight: bolder;
}

.eventSvg{
    width: 5vw;
    height: 5vh;
    color: white;
    
}




                                    /*  PTA's coner  */

#ptaCorner{
    position: relative;
    height: 70vh;
    margin-top: 5vh;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}


.ptaContent{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ptaContent h2{
    color: #b10e0e;
    
    font-size: 2em;
    text-shadow: 1px 1px  5px rgba(0, 0, 0, 0.849);
    
}


.ptaContent hr{
    height: 5px ;
    width: 25%;
    background-color:#303030d0;
    border: 0px;
    
}

.ptaImage{
    border: 1px solid #B2BEB5;
    min-height: 45vh;
    width: 80%;
}

.ptaImageWriteUp{
    min-height: 7vh;
    width: 60%;
    background-color:  #b10e0e;
    border-bottom: 7px solid #303030d0;
    
}

.ptaImageWriteUp p {
    color: #FFFFFF;
    font-weight: 600;
    text-align: center ;
    
}


.ptaSpeech{
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.ptaSpeech p{
    
    font-size: 1.2em;
    font-weight: 600;
    color: #292828;
    text-align: center;
    word-spacing: 3px;
    padding: 3rem;
}



                                                    /*  FOOTER */

footer{
    min-height: 80vh;
    background-color:  #050101;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-red {
    color : #050101 !important;
}

.text-green{
    color: #024e32;
}

.background-green {
    background-color: #024e32;
}

.background-red {
    background-color: #050101;
}

.footerSectionOne{
    width: 100%;
    height:70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.aboutUs, .popularLinks, .contactUs{
    height: 55vh;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.aboutUsHead, .popularLinksHead, .contactUsHead{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

:where(.aboutUsHead, .popularLinksHead, .contactUsHead) :is(h2){
    color: #FFFFFF;
    text-align: center;
    
}

:where(.aboutUsHead, .popularLinksHead, .contactUsHead) :is(hr){
    width: 20%;
    height: 3px;
    background-color: #b10e0e;
    border: 0px;
}

.aboutUsContent, .popularLinksContent, .contactUsContent{
    height: 35vh;
    width: 100%;
}

.aboutUsContent p{
    color: white;
    text-align: left;
    width: 80%;
}

.force100 {
    font-weight: 200 !important;
}

.footerContent{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-self: baseline;
    flex-direction: column;
}



.popularLinksContent a{
    text-decoration: none;
    color:  #dfdfdf;
    width: 100%;
    /* text-align: center; */
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.popularLinksContent a:hover{
   text-shadow: 1px 2px 10px  black;
}

/* Footer Svgs */

.footerSvg{
    width: 3vw;
    height: 3vh;
}

  /* Footer Contact Details */

.footerContactContent{
    display: flex;
    justify-content: flex-start;
    padding: 0rem;
    
}


.footerContactContentText{
    color: #e7e7e7;
    font-size: 1.1rem;
    font-weight: 600;
    width: 70%;
  
}


.footerSectionTwo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.footerSectionTwo hr{
    width: 90%;
    height: 2px;
    background-color: #FFFFFF;
    border: 0px;
}

.copyright p{
    width: fit-content;
    text-align: center;
    color: #FFFFFF;
    
}
 
            /* About Page Styling */

.aboutMain{
    width: 100%;
    /* min-height: 150vh; */
    padding-top: 100px;
}

.aboutHeaderWrapper{
    width:100%;
    border-bottom: 1px solid #050101;
    color: #050101;

}

.aboutPageText{
    color: #050101;
    font-size: 2rem;
    
}

.aboutPageHr{
    width: 5vw;
    height: 3px;
    background-color: #FFFFFF;
    border: 0;
    margin-left: 5rem;
}

.flexLayout{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: column;
}

.flexLayoutTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* History */

.historyContent{
    min-height: 60vh;
}


/* Vision Mission Styling */

.visionMisionContent{
    height: 80vh;
    
}

.visionMisionHeader{
    color: #b10e0e;
    font-size: 2.5rem;
    text-shadow: 1px 1px  5px black;
    text-transform:uppercase;
    padding: 1rem;
    text-align: center;
}


.visionContent{
    padding: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    width: 50%;
}

.visionHr{
    width: 5vw;
    height: 3px;
    background-color: #b10e0e;
    border: 0;
    box-shadow: 1px 1px  5px black;

}


/*  This section is where the styling for the tablet start */


@media(max-width: 900px){
    .logo{
        width: fit-content;
    }

    header{
        padding: 5px 20px ;
    }

    header nav{
        display: none;
        position: absolute;
        width: 100%;
        top: 10vh;
        left: 0;
        
    }

    header ul li a::after{
        background-color:#ffffff;   
    }

    header nav ul li{
        width: 100%;
        border: 1px solid #B2BEB5;
        /* display: flex;
        justify-content: center; */
        z-index: 1;
        background-color: #1a1919;
        backdrop-filter: blur(4px) !important;

    }

    header nav ul li a{
        color: #FFFFFF;
        /* former color #FFFFFF; */
        font-weight: 600;
        padding: 1rem 1rem;
        

    }

    header nav ul li ul{
        position: relative;
        width: 100%;
        top: 0;
        left: 0 ;
    }

    header ul li ul li  {
        /* former color #ffffffc0 */
        border-bottom:1px solid #FFFFFF ;
    }

    header ul li ul li ul {
        top: 0;
        left: 0;
        background-color: #B2BEB5;
        display: none;
        width: 100%;
       
    }

    header ul li ul li ul li{
        background-color: #1a1919;
       
    }

    header ul li ul li ul li a{
        color: #FFFFFF;
    }

    header ul li:hover > ul{
        display: none;
    
    
    }


    #open{
        display: block;
        height: 5vh;
    }

    #close{
        display: none;
        height: 5vh;
    }
    
    .welcome, #ptaCorner{
    height: 150vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1rem;

    }

    .welcomeSectionOne, .ptaContent{
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
       
    }

    .gallery{
        margin: 1rem; 

    }

    .galleryHeader h2{
        font-size: 2rem;
 
     }

    .galleryHeader hr{
        width: 20%;

    }

    .galleryPhotos{
        height: 290vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


    /* Events */

    .Events{
        height: 140vh;
    }

    .grid-col-3{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


    .eventWrapper{
        min-height: 110vh;

    }



    footer{
        min-height: 140vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footerSectionOne{
        height:130vh;
        flex-direction: column;
        align-items: center;
    }

    .footerSvg{
        min-width: 4vw;
        max-height: 4vh;
    }

    .footerContactContentText{
        font-size: 1rem;
        width: 90%;
        padding: 0rem .5rem;
   
      
    }

    .aboutUs, .popularLinks, .contactUs{
        height: 40vh;
        width: 80%;
    
 
    }

    .aboutUsHead, .popularLinksHead, .contactUsHead{
        height: 8vh;
    

    
    }
    .aboutUsContent, .popularLinksContent, .contactUsContent{
        height: 25vh;

    }

    .copyright p{
        width: 100%;
    }

    /* About */
    .aboutPageHr{
        width: 15vw;

    }

    .visionContent{
        width: 80%;
    }

    .visionHr{
        width: 10vw;

    }

 



}


@media  (max-width: 500px){
        .footerContent{
            width: 70%;
        }

        .visionContent{
            width: 100%;
            padding: .5rem;
            font-size: 1rem;
            
        }

        .visionMisionContent{
            height: 70vh;
            
        }

        .visionHr{
            width: 14vw;
    
        }

        .aboutPageHr{
            margin-left: 2rem;
        }

        .aboutPageText{
            font-size: 1rem;

        }

        /* EVENTS */
        .eventName{
            font-size: 1.2rem;
            text-align: center;
        }

}

@media  (max-width: 425px){

    .welcomeSectionTwo p, .ptaSpeech p{
        font-size: 0.9em;

    }


    .galleryHeader hr{
        width: 35%;

    }

    .footerContactContentText{
        font-size: 1rem;
        /* width: fit-content; */
    }

    .footerContent{
        width: 70%;
    }

}




