
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Slab:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: Candara Light;
}


 body{
     background-color: #FFFFFF;

 }


 header{
     position:sticky;
     top: 0;
     z-index: 1;
     width: 100%;
     min-height: 8vh;
     background-color: #303030;
     padding: 0 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .logo{
     color: #FFFFFF;
     font-family:Georgia, 'Times New Roman', Times, serif ;
     font-weight: 700;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 26%;

 }

 .motto h2{
    font-size: 2rem;
 }

 .motto h4{
    text-align: center;
 }

 .motto p{
    font-size: .7rem;
    font-style: italic;
 }

 .logo img{
    width: 6.5rem;
    height: 6rem;
    margin: .5rem 0rem;
 }

 header svg{
    width: 5vw;
    height: 3vh;
    color: white;
    display: none;
 }

 header ul{
     position: relative;
 }

 header ul li{
     list-style-type: none;
     position: relative;
     float:left;

 }
 
 header ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2.8rem 1rem;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;

    
}

header ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color:#b10e0e;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition:all  0.5s ;
    
}

header ul li a:hover::after{
    width: 100%;
    
}


 header ul li ul{
     position: absolute;
     left: 0;
     top: 16vh;
     width: 12.5vw;
     background-color: #FFFFFF;
     display: none;
     z-index: 1;
 }

 header ul li ul li a{
    color: #b10e0e;
}


 header ul li:hover > ul{
    transition: all 0.5s ease-in 0s;
    display: block;


}


header ul li ul li{
    position: relative;
    width: 100%;
    border: 1px solid #B2BEB5;
}

header ul li ul li a{
    padding: 0.5rem 0.5rem ;
}

header ul li ul li ul{
    top:0vh;
    left: 12.4vw;
    width: 70%;
}


/*Main Styling */
main{
    width:100%;
}


.herosection{
    height:70vh;
    /* position: relative; */
    margin-bottom: 5rem;
    background-color: #FFFFFF;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: gabriola;
    
}


#welcome{
    /* position: relative; */
    height: 70vh;
    border: 1px solid red;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.welcomeSectionOne{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.welcomeSectionOne h2{
    color: #b10e0e;
    font-family: Candara light ;
    font-size: 2em;
    text-shadow: 1px 1px  5px black;
    
}


.welcomeSectionOne hr{
    height: 5px ;
    width: 25%;
    background-color:#303030d0;
    border: 0px;
    
}

.welcomeImage{
    border: 1px solid #B2BEB5;
    min-height: 45vh;
    width: 60%;
}

.welcomePosition{
    min-height: 10vh;
    width: 55%;
    background-color:  #b10e0e;
    border-bottom: 10px solid #303030d0;
    
}

.welcomePosition p {
    color: #FFFFFF;
    font-weight: 600;
    text-align: center ;
    padding: .2rem 0rem;
    font-family: Candara light ;
}


.welcomeSectionTwo{
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.welcomeSectionTwo p{
    font-family: Candara light;
    font-size: 1.2em;
    font-weight: 600;
    color: #292828;
    text-align: center;
    word-spacing: 3px;
    padding: 3rem;
}


#gallery{
    position: relative;
    height: 70vh; 
    margin-top: 5vh; 
    border: 1px solid red;

}

.galleryHeader{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.galleryHeader h2{
    text-align: center;
    font-family: candara Light;
    font-size: 2.5rem;
    text-shadow: 1px 1px 9px ;
    padding-bottom: 0.5rem;
}

.galleryHeader hr{
    width: 10%;
    background-color: #b10e0e;
    height: 3px;
    border: 0px;
}

.galleryPhotos{
    position: relative;
    height: 60vh; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
}

.photoOne, .photoTwo, .photoThree {
    grid-column: span 1;
    grid-row: span 1;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10vh;
}

.photoOneImage, .photoTwoImage, .photoThreeImage {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid green;
}

.imageLayout{
    width: 100%;
    height: 100%;
}

.photoOneContent, .photoTwoContent, .photoThreeContent {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid rgb(0, 19, 128);
}


/*  This section is where the styling for the PTA's coner start */

#ptaCorner{
    position: relative;
    height: 70vh;
    margin-top: 5vh;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}


.ptaContent{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ptaContent h2{
    color: #b10e0e;
    font-family: Candara light ;
    font-size: 2em;
    text-shadow: 1px 1px  5px rgba(0, 0, 0, 0.849);
    
}


.ptaContent hr{
    height: 5px ;
    width: 25%;
    background-color:#303030d0;
    border: 0px;
    
}

.ptaImage{
    border: 1px solid #B2BEB5;
    min-height: 45vh;
    width: 80%;
}

.ptaImageWriteUp{
    min-height: 7vh;
    width: 60%;
    background-color:  #b10e0e;
    border-bottom: 7px solid #303030d0;
    
}

.ptaImageWriteUp p {
    color: #FFFFFF;
    font-weight: 600;
    text-align: center ;
    font-family: Candara light ;
}


.ptaSpeech{
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.ptaSpeech p{
    font-family: Candara light;
    font-size: 1.2em;
    font-weight: 600;
    color: #292828;
    text-align: center;
    word-spacing: 3px;
    padding: 3rem;
}



/* This is the stling for the footer */

footer{
    min-height: 80vh;
    background-color:  #303030;
    /* background-color: #303030d0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerSectionOne{
    width: 100%;
    height:70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.aboutUs, .popularLinks, .contactUs{
    height: 55vh;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.aboutUsHead, .popularLinksHead, .contactUsHead{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}

:where(.aboutUsHead, .popularLinksHead, .contactUsHead) :is(h2){
    color: #FFFFFF;
    font-family:Candara light;
    text-align: center;
    
}

:where(.aboutUsHead, .popularLinksHead, .contactUsHead) :is(hr){
    width: 20%;
    height: 3px;
    background-color: #b10e0e;
    border: 0px;
}

.aboutUsContent, .popularLinksContent, .contactUsContent{
    height: 35vh;
    width: 100%;
}

.aboutUsContent p{
    color: white;
    font-family:Candara light ;
    word-spacing: 3px;
    font-weight: 800;
    text-align: left;
    width: 80%;
    
}

.footerContent{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-self: baseline;
    flex-direction: column;
    background-color: white;
    width: 50%;
}


.popularLinksContent a{
    text-decoration: none;
    color:  #b10e0e;
    width: 100%;
    /* text-align: center; */
    padding-left: 1rem;
    font-family: Candara light;
    font-size: 1.2rem;
    font-weight: 700;
}

.popularLinksContent a:hover{
   text-shadow: 1px 1px 3px  black;
  
}

/* Footer Svgs */

.footerSvg{
    color: #b10e0e;
    width: 3vw;
    height: 3vh;

}

  /* Footer Contact Details */

.footerContactContent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerContactContentText{
    color: #b10e0e;
    font-family: calibri;
    font-weight: bold;
  
}


.footerSectionTwo{
    width: 100%;
    height:10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.footerSectionTwo hr{
    width: 90%;
    height: 2px;
    background-color: #FFFFFF;
    border: 0px;
}

.copyright p{
    width: fit-content;
    text-align: center;
    color: #FFFFFF;
    font-family: Candara light;
}
 




/* The About Page Styling */

.aboutMain{
    width: 100%;
    min-height: 150vh;
  
}

.aboutHeaderWrapper{
    width:100%;
    height: 25vh;
    border: 1px solid black;
    border-top: 1px solid #fff;
    background-color: #303030;


}

.aboutPageText{
    color: #FFFFFF;
    font-size: 3rem;
    font-family: Candara light;
}

.aboutPageHr{
    width: 5vw;
    height: 3px;
    background-color: #FFFFFF;
    border: 0;
    margin-left: 5rem;
}

.flexLayout{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: column;
}

/* History */

.historyContent{
    border: 1px solid red;
    min-height: 60vh;
}


/* Vision Mission Styling */

.visionMisionContent{
    height: 60vh;
}

.visionMisionHeader{
    color: #b10e0e;
    font-size: 3rem;
    text-shadow: 1px 1px  5px black;
    text-transform:uppercase;
    padding: 2rem;
}

.aboutPageHr{
    width: 5vw;
    height: 3px;
    background-color: #FFFFFF;
    border: 0;
    margin-left: 5rem;
}


/*  This section is where the styling for the tablet start */


@media(max-width: 900px){
    .logo{
        width: fit-content;
    }

    header{
        padding: 5px 20px ;
        position: static;
    }

    header nav{
        display: none;
        position: absolute;
        width: 100%;
        top: 23.5vh;
        left: 0;
        
    }

    header ul li a::after{
        background-color:#ffffff;   
    }

    header nav ul li{
        width: 100%;
        border: 1px solid #B2BEB5;
        /* display: flex;
        justify-content: center; */
        z-index: 1;
        background-color: #292828;

    }

    header nav ul li a{
        color: #FFFFFF;
        font-weight: 600;
        padding: 1rem 1rem;
        font-family: Candara light;

    }

    header nav ul li ul{
        position: relative;
        width: 100%;
        top: 0;
        left: 0 ;
    }

    header ul li ul li  {
        background-color: #ffffffc0;
        border-bottom:1px solid #FFFFFF ;
    }

    header ul li ul li ul {
        top: 0;
        left: 0;
        background-color: #B2BEB5;
        display: none;
        width: 100%;
       
    }

    header ul li ul li ul li{
        background-color: #292828;
    }

    header ul li ul li ul li a{
        color: #FFFFFF;
    }

    header ul li:hover > ul{
        display: none;
    
    
    }


    #open{
        display: block;
        height: 5vh;
    }

    #close{
        display: none;
        height: 5vh;
    }
    
    #welcome, #ptaCorner{
    height: 130vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1rem;

    }

    .welcomeSectionOne, .ptaContent{
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
       
    }

    #gallery{
        height: 170vh;
        margin: 1rem; 

    }

    .galleryHeader h2{
        font-size: 2rem;
 
     }

    .galleryHeader hr{
        width: 20%;

    }

    .galleryPhotos{
        height: 160vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    footer{
        min-height: 140vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footerSectionOne{
        height:130vh;
        flex-direction: column;
        align-items: center;
    }

    .footerSvg{
        min-width: 4vw;
        max-height: 4vh;
    }

    .aboutUs, .popularLinks, .contactUs{
        height: 40vh;
        width: 80%;
    
 
    }

    .aboutUsHead, .popularLinksHead, .contactUsHead{
        height: 8vh;
    

    
    }
    .aboutUsContent, .popularLinksContent, .contactUsContent{
        height: 25vh;

    }

    .popularLinksContent{
       
    }


    .copyright p{
        width: 100%;
    }

}


@media  (max-width: 425px){

    .welcomeSectionTwo p, .ptaSpeech p{
        font-size: 0.9em;

    }


    .galleryHeader hr{
        width: 35%;

    }

}




