.side-nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 30vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    background-color: #015536;
    color: #fff;
}

.main{ 
    margin-left: 30vw;
}

body {
    background-color: #024E32;
}